@import url(//db.onlinewebfonts.com/c/415c1cffdc1ffdf955cdd328ad4a4c87?family=Cheltenham);

.big-block-list-item-container{
    padding: 10px;
}
.big-block-list-item{
    font-family: "Cheltenham";
    padding-left: 10px;
    padding-bottom: 10px;
    letter-spacing: 0.15ch;
    border-bottom: 1px solid lightgray;
}