.recommend-item-container-end{
    width: 25%;
    padding: 10px;
    display: flex;
}
.recommended-text-end{
    width: 60%;
}
.recommended-image-end{
    width: 40%;
}
.recommended-image-block-end{
    width: 100%;
    height: 100px;
}